In [1]:
import pandas as pd
from transformers import pipeline

In [2]:
generator = pipeline(model="gpt2")

In [3]:
df=pd.read_csv('test_set.csv')
df.head(5)

,note,avis,assureur,produit,type,date_publication,date_exp,avis_en,tokens,bigrams
0,NaN,j'ai quitté mon ancien contrat d'assurance che...,Néoliane Santé,sante,test,12/01/2017,01/01/2017,I left my former insurance contract at General...,"['left', 'former', 'insurance', 'contract', 'g...","['left_former', 'former_insurance', 'insurance..."
1,NaN,j'ai souscrit à cette mutuelle l'année dernier...,Néoliane Santé,sante,test,09/01/2017,01/01/2017,I subscribed to this mutual a year last year a...,"['subscribed', 'mutual', 'year', 'last', 'year...","['subscribed_mutual', 'mutual_year', 'year_las..."
2,NaN,"Impossible d'avoir le bon service , ils raccro...",Néoliane Santé,sante,test,24/11/2016,01/11/2016,"Impossible to have the right service, they han...","['impossible', 'right', 'service', 'hang', 'no...","['impossible_right', 'right_service', 'service..."
3,NaN,Génération est une mutuelle très chère pour un...,Génération,sante,test,09/11/2021,01/11/2021,Generation is a very expensive mutual for a re...,"['generation', 'expensive', 'mutual', 'retiree...","['generation_expensive', 'expensive_mutual', '..."
4,NaN,je viens d apprendre que je suis radié... j ap...,Génération,sante,test,08/11/2021,01/11/2021,I just learned that I am struck off ... I call...,"['learned', 'struck', 'call', 'adviser', 'give...","['learned_struck', 'struck_call', 'call_advise..."

In [6]:
generator('I hate this insurance company', num_return_sequences=1, return_full_text=False)

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': " so much. It's so ridiculous. For a business based in the middle of nowhere, we're going to sue this company of ours that will pay this guy 30% off his rent, the company will pay this guy 10"}]